$cinema-red: #802223;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Odibee Sans', cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
}

@import 'parts/section';

.signaturs {
    color: white;
    font-size: 0.8rem;
    margin: auto;
    margin-right: 0;
    margin-bottom: 0;
    padding: 5px;
    filter: brightness(0.2);
}

@media only screen and (max-width: 720px) {
    body {
        background-color: black;
        height: 100%;
        width: 100%;
        justify-content: flex-start;
    }

    .section {
        width: 85vw;
        min-height: 80vh;
        margin: auto;
        margin-top: 10vh;
        margin-bottom: 10vh;
        padding-top: 5vh;

        #page-title {
            color: white;
            margin-bottom: 10vh;
        }

        .title {
            color: white;
            width: 80%;
            height: 5vh;
            font-size: 1.5rem;
            // margin-bottom: 5vh;
        }

        .warning {
            color: #802223;
            min-height: 5vh;
            filter: brightness(1.5);
        }

        form {
            width: 80%;
            font-size: 1rem;
            margin-bottom: 10vh;
            .form-element {
                height: 12vh;
                width: 80%;
                padding: 0.1rem;
            }
            
        }

        .page-button {
            width: 30vw;
            min-height: 10vh;
            #button-icon {
                color: white;
                max-height: 30px;
                max-width: 40px;
            }
        }

        .results {
            min-width: 80vw;
            min-height: 40vh;
    
            #movie-title {
                font-size: 3rem;
                min-height: 5vh;
                word-wrap: break-word;
                width: 85%;
            }
    
            #release-date, #movie-id {
                max-height: 5vh;
                width: 85%;
            }
    
            #movie-overview {
                width: 90%
            }
    
        }
    }

    .signaturs {
        font-size: 0.5rem;
    }

}
