* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Odibee Sans', cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
}

.section {
    width: 65vw;
    min-height: 55vh;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;

    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(48, 47, 47));

    border-radius: 5px;
    border-right: 3px solid #492540;
    border-bottom: 3px solid #492540;
    border-radius: 20px;
    border-bottom-right-radius: 2px;
    // border: 5px solid #492540;

    #page-title {
        display: flex;
        align-items: center;
        // justify-content: space-around;
        margin: auto;

        min-width: 30vw;
        min-height: 15vh;
        font-size: 3rem;
        letter-spacing: 5px;
        color: white;
        
        span {
            opacity: 0;
            transition: all 1s ease;
            display: inline-block;
            transform: translateY(50px);;
        }
        
        .title-fade{
            opacity: 1;
            transform: translateY(0px);
        }

        

        // border: 1px solid white;
    }

    .title {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        margin: auto;
        text-align: center;
        min-height: 15vh;
        width: 30vw;
        font-size: 2rem;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: blue;
        // border: 1px solid white;
    }

    .warning {
        color: #802223;
        min-height: 5vh;
        filter: brightness(1.5);
    }

    form {
        min-height: 35vh;
        width: 30vw;
        margin: auto;
        
        .form-element {
            
            height: 7vh;
            width: 75%;
            margin: auto;
            margin-bottom: 15px;
            padding: 0.5rem;

            font-family: 'Odibee Sans', cursive;
            font-size: 2rem;

            color: black;
            background-color: white;
            border-width:0px;
            border:none;
            transition: 0.3s ease-in-out;

            cursor: pointer;
          

            &::placeholder {
                color: black;
            }

            &:hover {
                background-color: #802223;
                color: white;
            }
        }        
    }

    .page-button {
        font-family: 'Odibee Sans', cursive;
        font-size: 2rem;
        cursor: pointer;
        border: 1px solid black;
        color: black;
        background-color: white;
        transition: 0.3s ease-in-out;
        height: 7vh;
        width: 20vw;
        &:hover {
            background-color: #802223;
            color: white;
        }
        
    }

    #button-icon {
        color: white;
        max-height: 40px;
        max-width: 40px;
        transition: 0.3s ease-in;

        &:hover {
            color: white;
        }

    }

    .results {
        min-width: 45vw;
        min-height: 40vh;
        padding: 0.5rem;
        
        #movie-title {
            font-size: 3rem;
            margin: auto;
            margin-bottom: 2vh;
            width: 60%;
            min-height: 5vh;
            border-bottom: 0.5px solid grey;
        }

        #release-date, #movie-id {
            width: 60%;
            height: 3vh;
            margin: auto;
        }

        #release-date {
            border-bottom: 0.2px solid grey;
            margin-bottom: 2vh;
        }


        #movie-overview {
            width: 60%;
            margin: auto;
            font-size: 1.5rem;
            padding: 20px;
            text-align: justify;
        }
    }


}

.signaturs {
    color: white;
    font-size: 0.8rem;
    margin: auto;
    margin-right: 0;
    margin-bottom: 0;
    padding: 5px;
    filter: brightness(0.2);
    // transform: translateX(100%);
}

@keyframes bckgrndChange {
    from {
        background-color: #802223;
        color: white;
    } to {
        color: black;
        background-color: white;
    }
}


@media only screen and (max-width: 720px) {
    body {
        background-color: black;
        height: 100%;
        width: 100%;
        justify-content: space-around;
    }

    .section {
        width: 80%;
        min-height: 80vh;
        margin: auto;
        margin-top: 10vh;
        padding-top: 5vh;

        #page-title {
            color: white;
        }

        .title {
            color: white;
            width: 80%;
            height: 5vh;
            font-size: 1.5rem;
        }

        .warning {
            color: #802223;
            min-height: 5vh;
            filter: brightness(1.5);
        }

        form {
            width: 80%;
            font-size: 1rem;

            .form-element {
                height: 12vh;
                width: 80%;
            }
            
        }
        .page-button {
            width: 30vw;
            height: 12vh;
        }
    }

    .signaturs {
        font-size: 0.5rem;
    }

    .results {
        width: 80vw;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        
        #movie-title {
            font-size: 1.5rem;
            margin-bottom: 5vh;
            min-height: 20vh;
            word-wrap: break-word;
        }

        #movie-overview {
            width: 80vw;
            padding: 0;
            // margin: auto;
        }
    }
}
