.page-button {
    font-family: 'Odibee Sans', cursive;
    font-size: 2rem;
    cursor: pointer;
    border: 1px solid black;
    color: black;
    background-color: white;
    transition: 0.3s ease-in-out;
    height: 7vh;
    width: 20vw;
    margin-bottom: 5vh;
    margin-top: 5vh;
    
    &:hover {
        background-color: $cinema-red;
        color: white;
    }
    
}

#button-icon {
    color: white;
    max-height: 40px;
    max-width: 40px;
    transition: 0.3s ease-in;

    &:hover {
        color: white;
    }

}