.section {
    width: 65vw;
    min-height: 55vh;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;

    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(48, 47, 47));

    border-radius: 5px;
    border-right: 3px solid #492540;
    border-bottom: 3px solid #492540;
    border-radius: 20px;
    border-bottom-right-radius: 2px;
    // border: 5px solid #492540;

    #page-title {
        display: flex;
        align-items: center;
        margin: auto;
        min-width: 30vw;
        min-height: 15vh;
        font-size: 3rem;
        letter-spacing: 5px;
        color: white;
        text-transform: uppercase;
    }

    .title {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: auto;
        text-align: center;
        min-height: 15vh;
        width: 30vw;
        font-size: 2rem;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: white;
        // border: 1px solid white;
    }

    .warning {
        color: $cinema-red;
        min-height: 5vh;
        filter: brightness(1.5);
    }

    @import 'form';

    @import 'button';

    @import 'results';
}

@keyframes bckgrndChange {
    from {
        background-color: $cinema-red;
        color: white;
    } to {
        color: black;
        background-color: white;
    }
}